body{
    /* background-color: orange; */
    background: linear-gradient(45deg, orange, green);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
li{
    list-style-type: none;
    padding: 20px;
}
h3{
    color: red;
    border: solid;
    border-color: green;
}
p{
    border: solid;
    border-color: white;
    padding: 20px;
}